:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575; 
    --additional-text-color: #2196F3;
    --white-tex-color: #FFFFFF;
}             
                    
                    
                    /* !!! index.html !!! */
.bodypage {
    background-color: var(--white-tex-color);
    font-family: Roboto, sans-serif;
}
ul {
    list-style: none;
}

                    /* Header */
.header-logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.header-word {
    color: var(--additional-text-color);
}
.header-navigation a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-navigation a:hover,
.header-navigation a:focus {
    color: var(--additional-text-color);
}

.header-navigation a.current {
    color: var(--additional-text-color);
}

.header-navigation .current {
    color: var(--additional-text-color);
}
.header-navigation.current {
    color: var(--additional-text-color);
}
.header-auth a {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-auth a:hover,
.header-auth a:focus {
    color: var(--additional-text-color);
}

                    /* Main */
/* Main: Hero */
.hero {
    color: var(--white-tex-color);
    background-color: #2F303A;
}
.hero-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn-primary {
    color: var(--white-tex-color);
    background-color: var(--additional-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}


/* Main: Specification */
.section-tittle {
    color: var(--primary-text-color);
}
.specification-list .tittle {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.specification-list .paragraph {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Main: What we do */
.section-tittle {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Main: our team */
.section.background {
    background-color: #F5F4FA;
}
.team-list .tittle {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list .paragraph {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
}

                    /* Footer */
.footer-background {
    background-color: #2F303A;
}
.footer-logo {
    color: var(--white-tex-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-word {
    color: var(--additional-text-color)
}
.footer-list .adress {
    color: var(--white-tex-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-list .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-list a:hover, 
.footer-list a:focus {
    color: var(--additional-text-color);
}

                    /* !!! portfolio.html !!! */
                    /* Header ✅ DONE */
                        
                    /* Main */
.btn-secondary {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--white-tex-color);
    background-color: var(--additional-text-color);
}

.features-list .tittle {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.features-list .paragraph {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}